<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Template - Data Binding</title>

    <!-- CSS import -->
    <link rel="stylesheet" href="../css/reset.css">

    <style>
        .container {
            color: red;
            font-weight: bold;
            font-size:  20pt;
        }
    </style>

    <!-- vue 스크립트 플러그인 임포트   -->
    
    
    
    

</head>
<body>
    <xmp>
        [1] v-if 디렉티브 :
        [2] v-else 디렉티브 :
        [3] v-else-if 디렉티브 :
        [4] v-show 디렉티브 :
            The use of the v-show directive is almost identical to that of v-if.
            The only differences are that v-show does not support the <template> syntax
            렌더링 안됨
            display:none; <--> display:block; 를 사용.
        [5] v-for 디렉티브 :

        [참조]
        페이지 103, 104
        https://vuejs.org/v2/guide/conditional.html
        https://riptutorial.com/vue-js/example/11981/v-if---v-else
    </xmp>
    <hr>


    <h2>v-if 연습 1</h2>
    <div id="app1">
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>
    </div>
    <h2>v-else 연습 2</h2>
    <div id="app2">
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>
    </div>
    <h2>v-if/v-else 연습 3</h2>
    <div id="app3">
        <button v-on:click="clickBind">클릭</button>
        <span v-if="awesome">
            Now you see me
        </span>
        <span v-else>
            Now you don't
        </span>
    </div>
    <h2>v-if/v-else-if/v-else 연습 4</h2>
    <div id="app4">
        <button v-on:click="clickBind">클릭</button>
        <span v-if="type === 'A'">
            A
        </span>
        <span v-else-if="type === 'B'">
            B
        </span>
        <span v-else-if="type === 'C'">
            C
        </span>
        <span v-else>
            Not A/B/C
        </span>
    </div>
    <h2>v-if/v-else-if/v-else 연습 5</h2>
    <div id="app5">
        <template v-if="b">
            <h1>Heading</h1>
            <p>Paragraph 1</p>
            <p>Paragraph 2</p>
        </template>
    </div>
</body>
</html>
