<!-- ex02_v-if.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!--개발버전-->
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div v-if="!showMe" v-on:click="change">Click Me</div>
        <button v-else @click="change">까꿍</button>
        <hr>
        <template v-if="showMe">
            <h1>hi</h1>
            <p>hello</p>
            <button>nice</button>
        </template>
        <template v-else>
            <h1>하이</h1>
            <p>good</p>
        </template>
        <hr>
        <button v-show="!showMe" @click="change">v-show Test</button>
        <!-- v-if : 조건이 false일 경우 삭제됨. template구문 사용 가능
            v-show :style의 display속성을 변경하여 보여주고 감춘다.
                    template 엘리먼트에 사용 불가 -->
    </div>
    
</body>
</html>